//! **************************************************************************
// Written by: Map O.76xd on Fri Dec 02 19:47:02 2016
//! **************************************************************************

SCHEMATIC START;
COMP "Hs" LOCATE = SITE "D6" LEVEL 1;
COMP "Vs" LOCATE = SITE "E6" LEVEL 1;
COMP "clk" LOCATE = SITE "B8" LEVEL 1;
COMP "rdn" LOCATE = SITE "C14" LEVEL 1;
COMP "rst" LOCATE = SITE "U10" LEVEL 1;
COMP "wrn" LOCATE = SITE "U5" LEVEL 1;
COMP "B<0>" LOCATE = SITE "D5" LEVEL 1;
COMP "B<1>" LOCATE = SITE "A6" LEVEL 1;
COMP "B<2>" LOCATE = SITE "B6" LEVEL 1;
COMP "G<0>" LOCATE = SITE "B4" LEVEL 1;
COMP "G<1>" LOCATE = SITE "C4" LEVEL 1;
COMP "G<2>" LOCATE = SITE "C5" LEVEL 1;
COMP "R<0>" LOCATE = SITE "A7" LEVEL 1;
COMP "R<1>" LOCATE = SITE "C3" LEVEL 1;
COMP "R<2>" LOCATE = SITE "A4" LEVEL 1;
COMP "clk0" LOCATE = SITE "B9" LEVEL 1;
COMP "tbre" LOCATE = SITE "D14" LEVEL 1;
COMP "tsre" LOCATE = SITE "N9" LEVEL 1;
COMP "ram1addr<0>" LOCATE = SITE "C17" LEVEL 1;
COMP "ram1addr<1>" LOCATE = SITE "C18" LEVEL 1;
COMP "ram1addr<2>" LOCATE = SITE "D16" LEVEL 1;
COMP "ram1addr<3>" LOCATE = SITE "D17" LEVEL 1;
COMP "ram1addr<4>" LOCATE = SITE "E15" LEVEL 1;
COMP "ram1addr<5>" LOCATE = SITE "E16" LEVEL 1;
COMP "ram1addr<6>" LOCATE = SITE "F14" LEVEL 1;
COMP "ram1addr<7>" LOCATE = SITE "F15" LEVEL 1;
COMP "ram1addr<8>" LOCATE = SITE "F17" LEVEL 1;
COMP "ram1addr<9>" LOCATE = SITE "F18" LEVEL 1;
COMP "ram2addr<0>" LOCATE = SITE "N14" LEVEL 1;
COMP "ram2addr<1>" LOCATE = SITE "N15" LEVEL 1;
COMP "ram2addr<2>" LOCATE = SITE "N18" LEVEL 1;
COMP "ram2addr<3>" LOCATE = SITE "P16" LEVEL 1;
COMP "ram2addr<4>" LOCATE = SITE "P17" LEVEL 1;
COMP "ram2addr<5>" LOCATE = SITE "P18" LEVEL 1;
COMP "ram2addr<6>" LOCATE = SITE "R15" LEVEL 1;
COMP "ram2addr<7>" LOCATE = SITE "R16" LEVEL 1;
COMP "ram2addr<8>" LOCATE = SITE "R18" LEVEL 1;
COMP "ram2addr<9>" LOCATE = SITE "T17" LEVEL 1;
COMP "ram1data<0>" LOCATE = SITE "J12" LEVEL 1;
COMP "ram1data<1>" LOCATE = SITE "J13" LEVEL 1;
COMP "ram1data<2>" LOCATE = SITE "J14" LEVEL 1;
COMP "ram1data<3>" LOCATE = SITE "J15" LEVEL 1;
COMP "ram1data<4>" LOCATE = SITE "J16" LEVEL 1;
COMP "ram1data<5>" LOCATE = SITE "J17" LEVEL 1;
COMP "ram1data<6>" LOCATE = SITE "K12" LEVEL 1;
COMP "ram1data<7>" LOCATE = SITE "K13" LEVEL 1;
COMP "ram2data<0>" LOCATE = SITE "U13" LEVEL 1;
COMP "ram2data<1>" LOCATE = SITE "T16" LEVEL 1;
COMP "ram2data<2>" LOCATE = SITE "T15" LEVEL 1;
COMP "ram2data<3>" LOCATE = SITE "T14" LEVEL 1;
COMP "ram2data<4>" LOCATE = SITE "T12" LEVEL 1;
COMP "ram2data<5>" LOCATE = SITE "R13" LEVEL 1;
COMP "ram2data<6>" LOCATE = SITE "R14" LEVEL 1;
COMP "ram2data<7>" LOCATE = SITE "R12" LEVEL 1;
COMP "ram2data<8>" LOCATE = SITE "R11" LEVEL 1;
COMP "ram2data<9>" LOCATE = SITE "R10" LEVEL 1;
COMP "data_ready" LOCATE = SITE "A16" LEVEL 1;
COMP "outD<0>" LOCATE = SITE "C7" LEVEL 1;
COMP "outD<1>" LOCATE = SITE "D7" LEVEL 1;
COMP "outD<2>" LOCATE = SITE "E7" LEVEL 1;
COMP "outD<3>" LOCATE = SITE "F7" LEVEL 1;
COMP "outD<4>" LOCATE = SITE "A8" LEVEL 1;
COMP "outD<5>" LOCATE = SITE "E8" LEVEL 1;
COMP "outD<6>" LOCATE = SITE "F8" LEVEL 1;
COMP "outL<0>" LOCATE = SITE "D10" LEVEL 1;
COMP "outL<1>" LOCATE = SITE "E10" LEVEL 1;
COMP "outL<2>" LOCATE = SITE "A11" LEVEL 1;
COMP "outL<3>" LOCATE = SITE "B11" LEVEL 1;
COMP "outL<4>" LOCATE = SITE "C11" LEVEL 1;
COMP "outL<5>" LOCATE = SITE "D11" LEVEL 1;
COMP "outL<6>" LOCATE = SITE "E11" LEVEL 1;
COMP "outL<7>" LOCATE = SITE "F11" LEVEL 1;
COMP "outL<8>" LOCATE = SITE "A12" LEVEL 1;
COMP "outL<9>" LOCATE = SITE "E12" LEVEL 1;
COMP "ram1addr<10>" LOCATE = SITE "G13" LEVEL 1;
COMP "ram1addr<11>" LOCATE = SITE "G14" LEVEL 1;
COMP "ram1addr<12>" LOCATE = SITE "G15" LEVEL 1;
COMP "ram1addr<13>" LOCATE = SITE "G16" LEVEL 1;
COMP "ram1addr<14>" LOCATE = SITE "H14" LEVEL 1;
COMP "ram1addr<15>" LOCATE = SITE "H15" LEVEL 1;
COMP "ram1addr<16>" LOCATE = SITE "H16" LEVEL 1;
COMP "ram1addr<17>" LOCATE = SITE "H17" LEVEL 1;
COMP "ram2addr<10>" LOCATE = SITE "T18" LEVEL 1;
COMP "ram2addr<11>" LOCATE = SITE "U18" LEVEL 1;
COMP "ram2addr<12>" LOCATE = SITE "V15" LEVEL 1;
COMP "ram2addr<13>" LOCATE = SITE "V13" LEVEL 1;
COMP "ram2addr<14>" LOCATE = SITE "V12" LEVEL 1;
COMP "ram2addr<15>" LOCATE = SITE "V9" LEVEL 1;
COMP "ram2addr<16>" LOCATE = SITE "U16" LEVEL 1;
COMP "ram2addr<17>" LOCATE = SITE "U15" LEVEL 1;
COMP "ram2data<10>" LOCATE = SITE "P13" LEVEL 1;
COMP "ram2data<11>" LOCATE = SITE "P12" LEVEL 1;
COMP "ram2data<12>" LOCATE = SITE "P11" LEVEL 1;
COMP "ram2data<13>" LOCATE = SITE "P10" LEVEL 1;
COMP "ram2data<14>" LOCATE = SITE "N12" LEVEL 1;
COMP "ram2data<15>" LOCATE = SITE "N11" LEVEL 1;
COMP "ram1en" LOCATE = SITE "M15" LEVEL 1;
COMP "ram2en" LOCATE = SITE "N10" LEVEL 1;
COMP "ram1oe" LOCATE = SITE "M16" LEVEL 1;
COMP "ram2oe" LOCATE = SITE "R9" LEVEL 1;
COMP "ram1we" LOCATE = SITE "M18" LEVEL 1;
COMP "ram2we" LOCATE = SITE "M9" LEVEL 1;
COMP "outL<10>" LOCATE = SITE "F12" LEVEL 1;
COMP "outL<11>" LOCATE = SITE "A13" LEVEL 1;
COMP "outL<12>" LOCATE = SITE "B13" LEVEL 1;
COMP "outL<13>" LOCATE = SITE "D13" LEVEL 1;
COMP "outL<14>" LOCATE = SITE "E13" LEVEL 1;
COMP "outL<15>" LOCATE = SITE "A14" LEVEL 1;
SCHEMATIC END;

